<%- include('./partials/header') %>
<section id="home-page">
  <img src="/images/boba-buddy.png" alt="Boba Buddy Image" />
  <h2>How can I help you today, Boba Buddy?</h2>
</section>
<!-- hello -->
<%- include('./partials/footer') %>
